.disabled {
	cursor: 'not-allowed';	
}

a, a:hover, a:focus {
    color: #000000;
    text-decoration: none;
}

a.white, a.white:hover, a.white:focus {
    color: #FFFFFF;
    text-decoration: none;
}

a.white:hover, a.white:focus {
    color: #FFFFFF;
	text-decoration: underline;
}